<!DOCTYPE html>
<html lang="">
{% block head %}
    <head>
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <link href="{{ 'styles.css' }}" type="text/css" rel="stylesheet">

        <title>{% block title %}{% endblock %}Person-Registry</title>
    </head>
{% endblock %}

<body>
{% block topnav %}
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/register">Register</a>
        <a href="/search">Search</a>
        <a href="/authorize">Authorize</a>
    </div>
{% endblock %}

{% block content %}{% endblock %}

</body>
</html>