{% extends 'Base.twig' %}

{% block title %}Registration Form{% endblock %}

{% block head %}
    {{ parent() }}

    <style>

    </style>

{% endblock %}

{% block content %}
    <form action="register/personInfo" method="post">
        <div class="container">
            <p class="text-3xl text-center"> Registration form</p>
            <p>Please fill in this form</p>
            <hr>

            <label for="name"><b>Name</b></label>
            <input type="text" placeholder="Enter name" name="name" id="name" required>

            <label for="surname"><b>Surname</b></label>
            <input type="text" placeholder="Enter surname" name="surname" id="surname" required>

            <label for="personalCode"><b>Personal code</b></label>
            <input type="text" placeholder="Enter personal code" name="personalCode" id="personalCode" minlength="11"
                   maxlength="12" required>

            <label for="age"><b>Age</b></label>
            <input type="text" placeholder="Enter age" name="age" id="age" minlength="1" maxlength="3" required>

            <label for="address"><b>Address</b></label>
            <input type="text" placeholder="Enter address" name="address" id="address" required>

            <label for="description"><b>Description</b></label>
            <input type="text" placeholder="Enter description (optional)" name="description" id="description">
            <hr>

            <button  class="registerbtn" type="submit" name="register">Register</button>
        </div>
    </form>
{% endblock %}


