{% extends 'Base.twig' %}

{% block title %} Search {% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}


{% block content %}

        <p class="text-3xl text-center">Searching Form</p>
        <br>
        <p>Search by firstname: </p>
        <form class="search" action="/search/personInfo" method="post"
              style="margin:auto;max-width:400px;text-align:center">
            <input type="text" placeholder="Search.." name="name">
            <button type="submit" value="name"><i class="fa fa-search"></i></button>
        </form>

        <p>Search by lastname:</p>
        <form class="search" action="/search/personInfo" method="post"
              style="margin:auto;max-width:400px;text-align:center">
            <input type="text" placeholder="Search.." name="surname">
            <button type="submit" value="surname"><i class="fa fa-search"></i></button>
        </form>

        <p>Search by personal code:</p>
        <form class="search" action="/search/personInfo" method="post"
              style="margin:auto;max-width:400px;text-align:center">
            <input type="text" placeholder="Search.." name="personal_code">
            <button type="submit" value="personal_code"><i class="fa fa-search"></i></button>
        </form>

        <p>Search by age:</p>
        <form class="search" action="/search/personInfo" method="post"
              style="margin:auto;max-width:400px;text-align:center">
            <input type="text" placeholder="Search.." name="age">
            <button type="submit" value="age"><i class="fa fa-search"></i></button>
        </form>

        <p>Search by address:</p>
        <form class="search" action="/search/personInfo" method="post"
              style="margin:auto;max-width:400px;text-align:center">
            <input type="text" placeholder="Search.." name="address">
            <button type="submit" value="address"><i class="fa fa-search"></i></button>
        </form>

{% endblock %}

