{% extends 'Base.twig' %}

{% block content %}

    <p class="text-7xl text-indigo-600" >{{ name }}, welcome to secret page!</p>

<div class="text-center text-indigo-700 p-10 hover:text-indigo-900 hover:underline">
    <a HREF="/logout" >Logout</a>
</div>

{% endblock %}